<section class="hero is-black is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item brand" href="/">
            expert-todo
          </a>
        </div>
      </div>
    </nav>
  </div>
</section>
